body {
    font-family: Arial, sans-serif;
    background-color: #1fade9;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #e68b8b;
}

p {
    font-size: 18px;
    color: #555;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}